# =========================
# Environment & Secrets
# =========================
.env

# =========================
# Python cache & virtual env
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env/
.venv/
venv/

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# OS-specific files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor files
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter / misc
# =========================
.ipynb_checkpoints/
